<section>
   <h2 class="nunito" style="margin-top: 0; margin-bottom: 10px;">Documents</h2>
   <div class="flex flex-row">
      <div class="personal-docs-area w-full">
         <h3 class="mt-0 mb-20">Your Documents</h3>
         <div class="flex flex-row justify-between align-items-center file-upload-area">
            <span>Select a file to upload (Support PDF only)</span>
            <button type="button" (click)="fileInput.click()" class="primary-btn">Choose a File</button>
            <input hidden #fileInput type="file" accept=".pdf" name="files" id="files" (change)="setFilename($event);"
               class="py-15">
         </div>
         <div *ngIf="isAlertShow" class="signup-alert mt-15"
            [ngClass]="{'success': uploadResponse.status === true, 'error': uploadResponse.status === false}">
            {{uploadResponse.message}}
         </div>
         <div *ngIf="selectedFilename" class="py-15" style="border-bottom: 1px solid #ccc">
            <div>Selected file: <strong>{{ selectedFilename }}</strong></div>
            <button type="button" (click)="uploadFile()" class="primary-btn mt-10"
               [ngClass]="{'disabled' : isUploading}" [disabled]="isUploading">{{isUploading ? 'Uploading...' :
               'Upload'}}</button>
         </div>
         <div class="pt-25">
            <div *ngIf="documentList.length === 0">
               <div>No documents found.</div>
               <small>Upload documents to show them here.</small>
            </div>
            <div class="flex flex-row">
               <div [ngClass]="{'w-60' : selectFileSrc, 'w-full' : !selectFileSrc}">
                  <div *ngIf="documentList.length > 0" class="flex flex-row">
                     <div *ngFor="let file of documentList" class="single-file text-center"
                        (click)="getSingleDocument(file.id, file.documentName)" style="cursor: pointer">
                        <!-- <a [href]="file.documentLink" [title]="file.documentName" download>
                        </a> -->
                        <span class="material-symbols-outlined" style="font-size: 60px;">
                           description
                        </span>
                        <div><small>{{formatName(file.documentName, 9)}}</small></div>
                     </div>
                  </div>
               </div>
               <div *ngIf="selectFileSrc" class="w-40 p-15" style="border: 1px solid #ccc"
                  [ngClass]="{'w-40' : selectFileSrc}">
                  <div class="preview mb-10">
                     <iframe [src]="selectFileSrc | safe" width="100%" height="500px"></iframe>
                  </div>
                  <button (click)="downloadDocument(selectFileSrc)" class="primary-btn">Download</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>