<section>
   <div class="flex flex-row justify-between align-items-center mb-10"
      [ngClass]="{'pb-10' : payslipList.length === 0 && !payslipsLoading}"
      [style.border-bottom]="payslipList.length === 0 && !payslipsLoading ? '1px solid #ccc' : 'none'">
      <h2 class="nunito my-0">Payslips</h2>
      <button (click)="openRightPanel(auth.currentUser, false); openEditSec = false; isPayslipAdd = true"
         title="Edit Payslip" class="flex flex-row align-items-center primary-btn">
         <span class="material-symbols-outlined mr-5">add</span>Add New
      </button>
   </div>
   <div *ngIf="payslipsLoading" class="my-15">
      loading...
   </div>
   <div class="flex flex-row w-full">
      <div *ngIf="payslipList.length === 0 && !payslipsLoading" class="w-75 my-15">
         No payslips found.
      </div>
      <div *ngIf="payslipList.length > 0"
         [ngClass]="{'w-75': openEditSec || isPayslipAdd, 'w-full': !openEditSec || !isPayslipAdd}">
         <div class="flex flex-row justify-between align-items-center list-block"
            *ngFor="let ps of payslipList; let i = index;">
            <div class="list-info">
               <h4 class="capitalize m-0">{{ps.name}}</h4>
               <small style="color: #666;">{{ps.email}}</small>&nbsp;&nbsp;|&nbsp;&nbsp;
               <small style="color: #666;">Added on:
                  <strong>{{ps.dateTime | date:'EEEE, d/MM/yyyy @ h:mm a'}}</strong>
               </small>
            </div>
            <div class="list-options">
               <h4 class="my-0 mx-20" style="color: #666;">Working Hours: {{ps.workHours}}</h4>
               <button *ngIf="auth.currentUser.userRole === '2'"
                  (click)="openRightPanel(ps, true); openEditSec = true; isPayslipAdd = false"
                  class="material-symbols-outlined" title="Edit Payslip">
                  edit
               </button>
            </div>
         </div>
      </div>
      <div class="w-25 pl-15" *ngIf="isOptionsPanelOpen">
         <div class="option-templates p-8 h-full">
            <ng-template [ngTemplateOutlet]="isPayslipAdd ? payslipAdd : payslipEdit"></ng-template>
         </div>
      </div>
      <ng-template #payslipEdit>
         <div *ngIf="openEditSec" class="mt-0 p-8">
            <div class="flex flex-row justify-between align-items-center edit-box-title mb-20">
               <h3 class="my-0">Edit Payslip</h3>
               <button (click)="openEditSec = false; isOptionsPanelOpen = false;">
                  <span class="material-symbols-outlined">
                     close
                  </span>
               </button>
            </div>
            <div>
               <div *ngIf="isAlertShow" class="signup-alert mb-15"
                  [ngClass]="{'success': payslipUpdateResponse.status === true, 'error': payslipUpdateResponse.status === false}">
                  {{payslipUpdateResponse.message}}
               </div>
               <div class="mb-20">
                  <small>Payslip ID: {{selectedPayslip.id}}</small><br>
                  <small>Employee: <strong><span class="capitalize">{{selectedPayslip.name}}</span></strong></small><br>
                  <small>Updated On: {{selectedPayslip.dateTime | date:'d/MM/yyyy @ h:mm a'}}</small>
               </div>
               <div class="pb-15">
                  <form (ngSubmit)="updatePayslip()" [formGroup]="paySlipUpdateForm">
                     <label for="workHours">Workig Hours</label>
                     <select name="workHours" id="workHours" formControlName="workHours" class="my-8">
                        <option value="">Select number of hours</option>
                        <option *ngFor="let option of hoursList" [value]="option.value">{{option.key}}</option>
                     </select>
                     <input type="hidden" formControlName="slipId">
                     <button class="primary-btn mt-10" type="submit"
                        [ngClass]="{'disabled' : isUpdating || paySlipUpdateForm.invalid}"
                        [disabled]="paySlipUpdateForm.invalid || isUpdating">Update</button>
                  </form>
               </div>
            </div>
         </div>
      </ng-template>
      <ng-template #payslipAdd>
         <div class="p-8">
            <div class="option-template-title">
               <h3 class="m-0">Add a Payslip</h3>
               <button (click)="isPayslipAdd = false; isOptionsPanelOpen = false">
                  <span class="material-symbols-outlined">
                     close
                  </span>
               </button>
            </div>
            <app-pay-slips [userInfo]="userInfo"
               (newPayslipAdd)="auth.currentUser.userRole === '2' ? getPayslipsByUserId(auth.currentUser.userId) : getPayslips()"></app-pay-slips>
         </div>
      </ng-template>
   </div>
</section>