.public-navbar {
   padding: 2rem 0;
   border-bottom: 1px solid #ccc;
}

.public-navbar .nav-links>a {
   text-decoration: none;
   padding: 10px 20px;
   font-weight: 400;
}

.public-navbar .nav-links>a:hover {
   background-color: rgba(0, 255, 255, 0.192);
}

.nav-link-active {
   background-color: aqua;
}